@using PresentationLayer.DTOs
@model ICollection<DailyUserInfoDTO>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Info</title>
</head>
<body>
    <a asp-area="" asp-controller="Dish" asp-action="DishList">List of Dishes</a>
    <div>User</div>
    @foreach (var dailyInfo in Model)
    {
        <div>
            @{
                var goal = "";
                if (dailyInfo.KCalorieGoal != null)
                    goal = $" / {dailyInfo.KCalorieGoal}";
            }
            @dailyInfo.Date.ToString("d"), @dailyInfo.KCalorieReal@goal kcal
            @foreach (var dish in dailyInfo.EatenDishes)
            {
                var quantity = "";
                if (dish.Quantity > 1)
                    quantity = $"| x{dish.Quantity} |";
                <p>
                    @dish.Name - @dish.KCalorie kcal @quantity
                </p>
            }
        </div><br />
    }
</body>
</html>

