@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Info</title>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- css -->
    <link rel="stylesheet" href="~/css/About.css" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css" />
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <div class="full_bg">
        <!-- header -->
        <header class="header-area">
            <div class="container">
                <div class="row d_flex">
                    <div class=" col-md-3 col-sm-3">
                        <div class="logo">
                            <a asp-controller="TodayInfo" asp-action="Info">CalCalc</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="navbar-area">
                            <nav class="site-navbar">
                                <ul>
                                    <li><a asp-controller="TodayInfo" asp-action="Info">Home</a></li>
                                    <li><a asp-controller="AllTimeInfo" asp-action="Chart">All Time Stats</a></li>
                                    <li><a asp-controller="Dish" asp-action="DishList">Dish List</a></li>
                                    <li><a class="active" asp-controller="About" asp-action="About">About</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <p>
            CalCalc (Calorie Calculator) is a Simple Website, which you can Track your Calorie Dynamic and get Calorie, Protein, Fats and Carbohydrates info of your eaten Dishes.
        </p>
        <p>
            This is study project for corses named "New Generation"<br>
            Author: Egor Podvalkov<br>
            Mentor: Danyil Mykytenko
        </p>

    </div>
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/custom.js"></script>

</body>
</html>
