.filter_table {
    max-width: calc(40% - 35px);
}
.filter_field {
    padding-right: 25px;
}
.search{
    width:200px;
}
.search, .min-calorie, .max-calorie{
    border-radius: 10px;
    border: 1px solid grey;
    height: 20px;
    padding-left: 5px;
}
.min-calorie, .max-calorie {
    width: 100px;
}
.min-calorieHead{
    text-align:right;
}
.adding_button{
    border: 0;
    border-radius: 10px;
}