/*shortInfo*/
.shortInfo-goalInput {
    border-radius: 10px;
    border: 0px;
    padding: 3px;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    width: 80px;
}
.shortInfo-goalButton {
    border: 0;
    margin-top:10px;
}
.removing_button {
    border: 0;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}
